<div class="col-md-12" ng-controller="BulkImportOfficesController">
    <ul class="breadcrumb">
        <li><a href="#/offices">{{'label.anchor.offices' | translate}}</a></li>
        <li class="active">{{'label.anchor.importoffices' | translate}}</li>
    </ul>
    <api-validate></api-validate>

    <div style="margin-top:20px;" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Office Template</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <form name="bulkImportOffices" class="form-inline ng-dirty ng-invalid ng-invalid-required" role="form" rc-submit="submitOfficeTemplate()">
                    <button style="margin-left:20px;" type="button" class="form-control btn btn-primary" ng-click="getOfficeTemplate()">{{'label.button.bulkimporttemplate'
                        | translate }}</button>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Import Offices</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <form class="form-inline ng-dirty ng-invalid ng-invalid-required" role="form">
                    <label>Select Excel File:&nbsp;</label>
                    <button type="button" class="form-control btn btn-default">{{'label.button.browse'
                        | translate }}</button>
                    <button style="margin-left:10px;" type="button" class="form-control btn btn-primary">{{'label.button.upload'
                        | translate }}</button>
                </form>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <form ng-submit="search()" class="form-horizontal">
    </form>
</div>