<div class="col-md-12" ng-controller="BulkImportController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.bulkimport' | translate}}</li>
    </ul>

    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" href="#/offices" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="fa fa-building-o fa-lg"></i>&nbsp;&nbsp;{{'label.anchor.importoffices'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/offices" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="fa fa-user fa-lg"></i>&nbsp;&nbsp;{{'label.anchor.importusers'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/offices" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;{{'label.anchor.importgroups'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/offices" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="fa fa-money fa-lg"></i>&nbsp;&nbsp;{{'label.anchor.importloanaccounts'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/offices" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="fa fa-money fa-lg"></i>&nbsp;&nbsp;{{'label.anchor.importsavingsaccounts'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/offices" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="fa fa-money fa-lg"></i>&nbsp;&nbsp;{{'label.anchor.importfdaccounts'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/offices" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="fa fa-money fa-lg"></i>&nbsp;&nbsp;{{'label.anchor.importrdaccounts'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/offices" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="fa fa-money fa-lg"></i>&nbsp;&nbsp;{{'label.anchor.importcoa'
                    | translate}}</h4>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" href="#/offices" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="fa fa-address-card-o fa-lg"></i>&nbsp;&nbsp;{{'label.anchor.importstaff'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/clients" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="fa fa-user-o fa-lg"></i>&nbsp;&nbsp;{{'label.anchor.importclients'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/offices" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="fa fa-building-o fa-lg"></i>&nbsp;&nbsp;{{'label.anchor.importcenters'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/offices" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="fa fa-money fa-lg"></i>&nbsp;&nbsp;{{'label.anchor.importloanrepayments'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/offices" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="fa fa-arrows-h fa-lg"></i>&nbsp;&nbsp;{{'label.anchor.importsavingstransactions'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/offices" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="fa fa-arrows-h fa-lg"></i>&nbsp;&nbsp;{{'label.anchor.importfdtransactions'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/offices" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="fa fa-arrows-h fa-lg"></i>&nbsp;&nbsp;{{'label.anchor.importrdtransactions'
                    | translate}}</h4>
            </a>
            <a class="list-group-item" href="#/offices" has-permission='READ_OFFICE'>
                <h4 class="list-group-item-heading"><i class="fa fa-book fa-lg"></i>&nbsp;&nbsp;{{'label.anchor.importjournalentries'
                    | translate}}</h4>
            </a>
        </div>
    </div>
</div>